<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Заметки</title>

    <link href="static/tilda-grid-2.0.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/tilda-blocks-2.0.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen">
</head>
<body style="margin: 0px;">

    {% block content %} <!-- вложенные шаблоны -->
    {% endblock %}


</body>
</html>