{% extends "base.html" %}
{% block content %}

<div data-hook="blocks-collection-content-node">

    <div class="r" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="t056">
            <div class="container centeredSection">
                <div class="lr_col_10 prefix_1">
                    <h1 field="title"><div style="font-size:28px;" data-customstyle="yes"><strong>Добро пожаловать в заметки</strong></div></h1>
                    <div class="descr" field="descr"><div style="font-size:18px;" data-customstyle="yes"><span>Для продолжения работы необходимо иметь аккаунт<br>Если нет аккаунта, то <a href="/registr">зарегистрируйтесь</a></span></div></div>      </div>
            </div>
        </div>
    </div>


<div class="r last-layer">
    <div class="text-form">
        <p>
            <input name="login" id="login" class="text_form" placeholder="Введите логин", maxlength="20"/>
        </p>
    </div>
    <div class="text-form">
        <p>
            <input name="password" id="password" class="text_form" placeholder="Введите пароль", maxlength="20"/>
        </p>
    </div>
    <div class="button-field">
        <input id="send_exist" type="button" value="Войти" class="button" onClick="send_user()">
    </div>
</div>
</div>


{% endblock %}